:host {
	position: absolute;
	left: 0;
	bottom: 0;
    display: flex;
	width: 100%;
	padding: 1em 0;
	text-align: center;
	font-size: 0.8em;
}

.container {
    flex: auto;
	display: flex;
}

p {
    flex: auto;
    font-size: inherit;
}
