:host,
.image,
.content {
	display: flex;
	flex-direction: column;
}

.card__stats-list,
.card__stats-list-item,
.card__author {
	display: flex;
	align-items: center;
}

:host {
	width: 100%;
	max-width: 21.875em;
	padding: 1.5em;
	background-color: var(--color-dark-blue-2);
	margin: 1.875em 0 3.75em;
	border-radius: 15px;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.image {
	position: relative;
	background-color: var(--color-soft-blue);
	margin-bottom: 1.5em;
	border-radius: 8px;
	cursor: pointer;
}

.image::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--color-cyan-light);
	background-image: url('/assets/images/icons/view.svg');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: inherit;
	opacity: 0;
	transition: opacity 0.3s;
}

.image:hover::after {
	opacity: 1;
}

.image img {
	width: 100%;
	height: auto;
	border-radius: inherit;
}

.title {
	margin-bottom: 0.545em;
}

.desc {
	margin-bottom: 1.125em;
}

.stats-list-item {
	gap: 0.48125em;
	width: 50%;
	font-size: 0.9375em;
}

.stats-list-item:first-child {
	font-weight: var(--font-weight-600);
	color: var(--color-cyan);
}

.stats-list-item:last-child {
	justify-content: flex-end;
}

.stats-list-item i {
	flex: none;
}

.author {
	gap: 1em;
	padding-top: 1em;
	margin-top: 1em;
	border-top: 1px solid var(--color-dark-blue-3);
}

.author-img {
	flex: none;
	width: 2.0625em;
	height: auto;
	border: 1px solid var(--color-white);
	border-radius: 50%;
}

.author-desc {
	font-size: 0.9375em;
}

@media (min-width: 48em) {
	.title {
		margin-bottom: 0.727em;
	}

	.desc {
		margin-bottom: 1.333em;
		font-size: 1.125em;
	}

	.stats-list-item,
	.author-desc {
		font-size: 1em;
	}

	.author {
		margin-top: 1.5em;
	}
}
